.action-buttons .approve-button{
    background-color: #8a7ebe;
    color: white;
    padding: 20px;
}
.action-buttons .disapprove-button{
    background-color: #8a7ebe;
    color: white;
    padding: 20px;
}